
<div class="row">
    <div class="col-lg-8">
        <div class="post mt-4">
            <a href="blog-post.html" class="pic">
                <div style="background-image:url('../../wwwroot/img/photo-1479243396208-be1751535cdb.jpg');"></div>
            </a>

            <div class="title">
                <a href="blog-post.html">@Model</a>
            </div>
            <div class="author">
                <img src="~/wwwroot/img/bdd.png" class="avatar" alt="author">
                Jessica Smith, October 03, 2015
            </div>
            <p class="intro">
                By Ed Hawkins, University of Reading. Climate change is often seen as a recent phenomenon, but its roots are actually far older — the stuff that is currently happening is beyond my understanding.
                <br>
                Some people say design is about solving problems. Obviously designers solve problems but so do dentists. Design is about cultural invention.
            </p>
            <a href="blog-post.html" class="continue-reading">Continue reading this post</a>
        </div>
    </div>
    <div class="col-lg-4 sidebar">
        <h3>Resources</h3>
        <div class="block">
            <div class="title">
                Downloads:
            </div>
            <a href="#" class="website">
                http://www.mixpanel.com
            </a>
            <a href="#" class="website">
                http://www.mixpanel.com
            </a>
        </div>
        <div class="block">
            <div class="title">
                References:
            </div>
            <a href="#" class="website">
                http://www.mixpanel.com
            </a>
        </div>
        <div class="block">
            <div class="title">
                Share this post:
            </div>
            <a href="#">
                <i class="ion-social-twitter"></i>
            </a>
            <a href="#">
                <i class="ion-social-facebook"></i>
            </a>
            <a href="#">
                <i class="ion-social-linkedin"></i>
            </a>
        </div>
    </div>
</div>