<nav class="navbar navbar-toggleable-md navbar-inverse dark-gray-bg" role="navigation">
    <div class="container no-override">
        <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="index.html">
            <img src="~/wwwroot/img/logo2.png" class="hidden-md-down d-inline mr-2" width="45">
            gemsolutions
        </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link nav-link--rounded" href="#">Careers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>