
@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

@model JewelryBox.Main.Models.ViewModels.ErrorVM

<section id="aboutme" class="content">
    <div class="container">
        <div class="text-center animated fadeInDown">
            <h1 class="font-bold" style="font-size: 150px">@Model.Code</h1>
            <h3 class="font-bold">Something went terribly wrong!</h3>

            <div class="error-desc">
                @Model.Message
            </div>

            <input type="button" class="btn btn-outline-primary mt-4" onclick="window.location.replace(document.referrer)" value="Go Back" />
        </div>
    </div>
</section>
